USE [master]
GO
/****** Object:  Database [CustomerData]    Script Date: 3/25/2022 12:57:48 AM ******/
CREATE DATABASE [CustomerData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustomerData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CustomerData.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CustomerData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CustomerData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustomerData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustomerData]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/25/2022 12:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](50) NULL,
	[customerClass] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[customer_Data]    Script Date: 3/25/2022 12:57:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[customer_Data]

 @CustomerName nvarchar(50),

    @Class nvarchar(50) ,

    @Phone nvarchar(50)  ,

    @Email nvarchar(50),

    @Comment nvarchar(max)

     as

     begin

     insert into [dbo].[Customers] values(@CustomerName,@Class,@Phone, @Email,@Comment )
     end
GO
USE [master]
GO
